In [1]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import functions as func

In [2]:
sc = SparkContext("local", "HealthCareCapstone")
sqlContext = SQLContext(sc)

In [3]:

# PART D: https://data.cms.gov/Medicare-Part-D/Medicare-Provider-Utilization-and-Payment-Data-201/mhdd-npjx
# CMS Payments: https://download.cms.gov/openpayments/PGYR19_P012221.ZIP
# Exclusions: https://oig.hhs.gov/exclusions/downloadables/UPDATED.csv
# Opioid Prescribers: https://data.cms.gov/Medicare-Part-D/Medicare-Part-D-Opioid-Prescriber-Summary-File-201/j2ra-95gh
# Opioid List: https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/OpioidDrugList.zip

#partD_drug_rawdata = sqlContext.read.csv#("D:\\NematiLab\\CMS-Medicare-Data-FRAUD-Detection\\Medicare_Provider_Utilization_and_Payment_Data__2018_Part_D_Prescriber.csv", \
#                                       header = True, inferSchema = True)

#payment_rawdata = sqlContext.read.csv("D:\\NematiLab\\CMS-Medicare-Data-FRAUD-Detection\\PGYR19_P012221\\OP_DTL_GNRL_PGYR2019_P01222021.csv", \
#                                       header = True, inferSchema = True)


#IELE_rawdata = sqlContext.read.csv("D:\\NematiLab\\CMS-Medicare-Data-FRAUD-Detection\\UPDATED.csv", \
#                                       header = True, inferSchema = True)

#Opioids_drugs = sqlContext.read.csv("D:\\NematiLab\\CMS-Medicare-Data-FRAUD-Detection\\Opioid_Drug_Lists_CY2018_0\\Opioid_Drug_Lists_CY2018.xlsx", \
#                                       header = True, inferSchema = True)

Opioids_Prescriber = sqlContext.read.csv("D:\\NematiLab\\CMS-Medicare-Data-FRAUD-Detection\\Medicare_Part_D_Opioid_Prescriber_Summary_File_2018.csv", \
                                       header = True, inferSchema = True)

In [33]:
# load the dataset
#  1. Part D drug 2016 dataset 
#     https://data.cms.gov/Medicare-Part-D/Medicare-Provider-Utilization-and-Payment-Data-201/yvpj-pmj2
#  2. CMS Payment Data Set  
#     https://www.cms.gov/OpenPayments/Explore-the-Data/Dataset-Downloads.html#
#  3. EXCLUEDED Datavset
#     https://oig.hhs.gov/exclusions/exclusions_list.asp 
#  4. Opioids drugs and opioids prescriber information

# partD_drug_rawdata = sc.textFile("/Users/my_macbook/Projects/Project_Capstone/DataSet/PartD_Drug_16/PartD_Drug_16.txt")
# #partD_pres_rawdata = sc.textFile("/Users/my_macbook/Projects/Project_Capstone/DataSet/PartD_Prescriber_16/PartD_Prescriber_16.txt")
# payment_rawdata = sqlContext.read.csv("/Capstone/DataSet/2017Payment/OP_DTL_GNRL_PGYR2017_P06292018.csv", \
#                                        header = True, inferSchema = True)
# IELE_rawdata = sqlContext.read.csv("/Users/my_macbook/Projects/Project_Capstone/DataSet/2018UpdatedLEIE.csv", \
#                                        header = True, inferSchema = True)
# Opioids_drugs = sqlContext.read.csv("/Users/my_macbook/Projects/Project_Capstone/DataSet/opioids.csv", \
#                                        header = True, inferSchema = True)
# Opioids_Prescriber = sqlContext.read.csv("/Users/my_macbook/Projects/Project_Capstone/DataSet/opioids_prescriber_info.csv", \
#                                        header = True, inferSchema = True)

In [10]:
# PAYMENT DATA PREPARATION
payment_features_df = payment_rawdata.select(["Physician_First_Name",\
                                             "Physician_Last_Name", \
                                             "Recipient_City", \
                                             "Recipient_State", \
                                             "Total_Amount_of_Payment_USDollars"])
#payment_features_df.show()

In [11]:
payment_features_df = payment_features_df.withColumn("Total_Amount_of_Payment_USDollars",payment_features_df["Total_Amount_of_Payment_USDollars"].cast(DoubleType()))

payment_features_gourpbyTotal_df = payment_features_df.groupBy("Physician_First_Name","Physician_Last_Name","Recipient_City","Recipient_State").sum("Total_Amount_of_Payment_USDollars")

In [12]:
payment_features_gourpbyTotal_df.show()

+--------------------+-------------------+--------------+---------------+--------------------------------------+
|Physician_First_Name|Physician_Last_Name|Recipient_City|Recipient_State|sum(Total_Amount_of_Payment_USDollars)|
+--------------------+-------------------+--------------+---------------+--------------------------------------+
|              Darryl|             Werner|     Santa Ana|             CA|                               6085.23|
|             Satoshi|          Tateshima|   Los Angeles|             CA|                                502.34|
|             CHARLES|              MOSES|   PORT ARTHUR|             TX|                    29.009999999999998|
|           HAMIDREZA|         IRANMANESH|      KINGWOOD|             TX|                    133.04999999999998|
|                MARC|             LAVINE|  PHILADELPHIA|             PA|                                516.78|
|                ASRA|                ALI|      PEARLAND|             TX|                    1504.7499999999998|
|              ANGELA|        SALDARRIAGA|    WILMINGTON|             DE|                    262.03000000000003|
|             ZACHARY|            COMPTON|        IRVING|             TX|                     758.3100000000001|
|             ELLIOTT|             SILBAR|     MILWAUKEE|             WI|                               1131.42|
|              CELINE|            GISBERT|     PENSACOLA|             FL|                                678.64|
|             JANGWON|               YOON|  PHILADELPHIA|             PA|                               4021.86|
|               ANITA|               IYER|      BETHESDA|             MD|                                608.14|
|               SUSAN|              TOUMA|    HUNTINGTON|             WV|                     741.6800000000001|
|               PETER|             NIEBYL|        EASTON|             MD|                               2178.95|
|                JOHN|            O NEILL|      BETHESDA|             MD|                    121.35999999999999|
|             HALETTE|           ANDERSON|  WEST CHESTER|             PA|                    234.45000000000005|
|           CHRISTINE|              AMBRO|     ANNAPOLIS|             MD|                                928.62|
|              LAUREN|             REAGER|  SANTA MONICA|             CA|                                358.01|
|             SHELLEY|           MAHAFFEY|   SPARTANBURG|             SC|                                 97.75|
|             SABRINA|           WILLIAMS|  INDIANAPOLIS|             IN|                     929.3700000000001|
+--------------------+-------------------+--------------+---------------+--------------------------------------+
only showing top 20 rows

In [13]:
payment_features_gourpbyTotal_df = payment_features_gourpbyTotal_df.withColumnRenamed("Physician_First_Name" , "first_name")
payment_features_gourpbyTotal_df = payment_features_gourpbyTotal_df.withColumnRenamed("Physician_Last_Name" , "last_name")
payment_features_gourpbyTotal_df = payment_features_gourpbyTotal_df.withColumnRenamed("Recipient_City" , "city")
payment_features_gourpbyTotal_df = payment_features_gourpbyTotal_df.withColumnRenamed("Recipient_State" , "state")
payment_features_gourpbyTotal_df = payment_features_gourpbyTotal_df.withColumnRenamed("sum(Total_Amount_of_Payment_USDollars)" , "Total_Amount_of_Payment")

payment_features_gourpbyTotal_df.show()

+----------+-----------+------------+-----+-----------------------+
|first_name|  last_name|        city|state|Total_Amount_of_Payment|
+----------+-----------+------------+-----+-----------------------+
|    Darryl|     Werner|   Santa Ana|   CA|                6085.23|
|   Satoshi|  Tateshima| Los Angeles|   CA|                 502.34|
|   CHARLES|      MOSES| PORT ARTHUR|   TX|     29.009999999999998|
| HAMIDREZA| IRANMANESH|    KINGWOOD|   TX|     133.04999999999998|
|      MARC|     LAVINE|PHILADELPHIA|   PA|                 516.78|
|      ASRA|        ALI|    PEARLAND|   TX|     1504.7499999999998|
|    ANGELA|SALDARRIAGA|  WILMINGTON|   DE|     262.03000000000003|
|   ZACHARY|    COMPTON|      IRVING|   TX|      758.3100000000001|
|   ELLIOTT|     SILBAR|   MILWAUKEE|   WI|                1131.42|
|    CELINE|    GISBERT|   PENSACOLA|   FL|                 678.64|
|   JANGWON|       YOON|PHILADELPHIA|   PA|                4021.86|
|     ANITA|       IYER|    BETHESDA|   MD|                 608.14|
|     SUSAN|      TOUMA|  HUNTINGTON|   WV|      741.6800000000001|
|     PETER|     NIEBYL|      EASTON|   MD|                2178.95|
|      JOHN|    O NEILL|    BETHESDA|   MD|     121.35999999999999|
|   HALETTE|   ANDERSON|WEST CHESTER|   PA|     234.45000000000005|
| CHRISTINE|      AMBRO|   ANNAPOLIS|   MD|                 928.62|
|    LAUREN|     REAGER|SANTA MONICA|   CA|                 358.01|
|   SHELLEY|   MAHAFFEY| SPARTANBURG|   SC|                  97.75|
|   SABRINA|   WILLIAMS|INDIANAPOLIS|   IN|      929.3700000000001|
+----------+-----------+------------+-----+-----------------------+
only showing top 20 rows

In [14]:
payment_features_gourpbyTotal_df = payment_features_gourpbyTotal_df.sort(payment_features_gourpbyTotal_df.Total_Amount_of_Payment.desc())

In [15]:
payment_features_gourpbyTotal_df.show()

+----------+----------+-------------+-----+-----------------------+
|first_name| last_name|         city|state|Total_Amount_of_Payment|
+----------+----------+-------------+-----+-----------------------+
|      null|      null|       DUARTE|   CA|    3.779466413300001E8|
|      null|      null|      Houston|   TX|         3.0784438065E8|
|      null|      null|       BOSTON|   MA|   2.5903488950999996E8|
|    ANDREW|    COOPER|   CLEARWATER|   FL|          5.000821586E7|
|      null|      null|       Boston|   MA|          4.438468705E7|
|    STEVEN|   BOLLING|    ANN ARBOR|   MI|   3.7347662900000006E7|
|   STEPHEN|  BURKHART|  SAN ANTONIO|   TX|          2.716575634E7|
|      null|      null|  Los Angeles|   CA|   2.5334865490000006E7|
|   WILLIAM|    BINDER|BEVERLY HILLS|   CA|          2.072729672E7|
|     KEVIN|     FOLEY|      Memphis|   TN|   2.0217118830000002E7|
|      null|      null|      HOUSTON|   TX|   1.4820399579999998E7|
|      null|      null|        Phila|   PA|   1.3375324979999997E7|
|      IVAN|    OSORIO|  KANSAS CITY|   KS|          1.246483766E7|
|      null|      null|        PHILA|   PA|          1.099881213E7|
|      null|      null|    ANN ARBOR|   MI|             9626172.25|
|      null|      null|    CLEVELAND|   OH|      8850179.360000001|
|      JOEL|     MATTA|         VAIL|   CO|      8773382.619999997|
|     DAVID|RUBALTELLI|     BROOKLYN|   NY|      8474979.499999996|
|      null|      null|  LOS ANGELES|   CA|              8262751.6|
|      NEAL|ELATTRACHE|  LOS ANGELES|   CA|      7978646.139999999|
+----------+----------+-------------+-----+-----------------------+
only showing top 20 rows

In [20]:
# Part D drug data Preparation 

#header = partD_drug_rawdata.first()
#partD_drug_rawdata =partD_drug_rawdata.filter (lambda line: line != header)

# temp_var = partD_drug_rawdata.map(lambda k: k.split("\t"))
partD_Drug_df = partD_drug_rawdata
partD_Drug_df.show()


partD_Drug_df = partD_Drug_df.withColumn("bene_count",partD_Drug_df["bene_count"].cast(DoubleType()))
partD_Drug_df = partD_Drug_df.withColumn("total_claim_count",partD_Drug_df["total_claim_count"].cast(DoubleType()))
partD_Drug_df = partD_Drug_df.withColumn("total_30_day_fill_count",partD_Drug_df["total_30_day_fill_count"].cast(DoubleType()))
partD_Drug_df = partD_Drug_df.withColumn("total_day_supply",partD_Drug_df["total_day_supply"].cast(DoubleType()))
partD_Drug_df = partD_Drug_df.withColumn("total_drug_cost",partD_Drug_df["total_drug_cost"].cast(DoubleType()))
partD_Drug_df = partD_Drug_df.withColumn("bene_count_ge65",partD_Drug_df["bene_count_ge65"].cast(DoubleType()))
partD_Drug_df = partD_Drug_df.withColumn("total_claim_count_ge65",partD_Drug_df["total_claim_count_ge65"].cast(DoubleType()))
partD_Drug_df = partD_Drug_df.withColumn("total_30_day_fill_count_ge65",partD_Drug_df["total_30_day_fill_count_ge65"].cast(DoubleType()))
partD_Drug_df = partD_Drug_df.withColumn("total_day_supply_ge65",partD_Drug_df["total_day_supply_ge65"].cast(DoubleType()))
partD_Drug_df = partD_Drug_df.withColumn("total_drug_cost_ge65",partD_Drug_df["total_drug_cost_ge65"].cast(DoubleType()))

+----------+----------------------------+-------------------------+-------------------+--------------------+---------------------+----------------+--------------------+--------------------+----------+-----------------+-----------------------+----------------+---------------+---------------+-----------------------------+----------------------+------------------+----------------------------+---------------------+--------------------+
|       npi|nppes_provider_last_org_name|nppes_provider_first_name|nppes_provider_city|nppes_provider_state|specialty_description|description_flag|           drug_name|        generic_name|bene_count|total_claim_count|total_30_day_fill_count|total_day_supply|total_drug_cost|bene_count_ge65|bene_count_ge65_suppress_flag|total_claim_count_ge65|ge65_suppress_flag|total_30_day_fill_count_ge65|total_day_supply_ge65|total_drug_cost_ge65|
+----------+----------------------------+-------------------------+-------------------+--------------------+---------------------+----------------+--------------------+--------------------+----------+-----------------+-----------------------+----------------+---------------+---------------+-----------------------------+----------------------+------------------+----------------------------+---------------------+--------------------+
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|ATORVASTATIN CALCIUM|ATORVASTATIN CALCIUM|      null|               13|                   13.0|             390|          85.83|           null|                            *|                  null|                 *|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|        AZITHROMYCIN|        AZITHROMYCIN|        11|               11|                   11.0|              64|         123.11|           null|                            *|                  null|                 *|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|          CARVEDILOL|          CARVEDILOL|      null|               12|                   15.0|             450|          39.02|           null|                            *|                  null|                 *|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|            CEFDINIR|            CEFDINIR|        12|               12|                   12.0|              71|         178.66|           null|                            *|                  null|                 *|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S| DOXYCYCLINE HYCLATE| DOXYCYCLINE HYCLATE|        12|               13|                   13.0|              77|         194.56|           null|                            *|                  null|                 *|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|             ELIQUIS|            APIXABAN|      null|               17|                   17.0|             459|        6494.22|           null|                            #|                  null|                 #|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|          FUROSEMIDE|          FUROSEMIDE|        19|               30|                   31.0|             830|         118.97|           null|                            #|                  null|                 #|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|ISOSORBIDE MONONI...|ISOSORBIDE MONONI...|        11|               14|                   14.0|             420|         167.69|           null|                            #|                  null|                 #|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|        LEVOFLOXACIN|        LEVOFLOXACIN|        15|               15|                   15.0|              80|         106.05|           null|                            #|                  null|                 #|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|          LISINOPRIL|          LISINOPRIL|        14|               24|                   24.0|             720|         108.66|           null|                            #|                  null|                 #|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S| METOPROLOL TARTRATE| METOPROLOL TARTRATE|        21|               31|                   33.0|             885|         158.39|           null|                            #|                  null|                 #|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|       NITROGLYCERIN|       NITROGLYCERIN|      null|               11|                   11.0|             142|         135.99|           null|                            *|                  null|                 *|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|          PREDNISONE|          PREDNISONE|        28|               34|                   34.0|             244|         128.92|           null|                            #|                  null|                 #|                        null|                 null|                null|
|1003000126|                   ENKESHAFI|                  ARDALAN|         CUMBERLAND|                  MD|    Internal Medicine|               S|     WARFARIN SODIUM|     WARFARIN SODIUM|      null|               15|                   16.0|             392|         134.79|           null|                            *|                  null|                 *|                        null|                 null|                null|
|1003000142|                      KHALIL|                   RASHID|             TOLEDO|                  OH|       Anesthesiology|               S|ACETAMINOPHEN-COD...|ACETAMINOPHEN WIT...|        11|               47|                   47.0|            1266|         496.58|           null|                            *|                    13|              null|                        13.0|                  261|                98.6|
|1003000142|                      KHALIL|                   RASHID|             TOLEDO|                  OH|       Anesthesiology|               S|            BACLOFEN|            BACLOFEN|        30|              113|                  133.0|            3969|        1666.79|           null|                            *|                    25|              null|                        31.0|                  930|               265.2|
|1003000142|                      KHALIL|                   RASHID|             TOLEDO|                  OH|       Anesthesiology|               S|           CELECOXIB|           CELECOXIB|      null|               18|                   20.0|             600|          856.4|           null|                            *|                  null|                 *|                        null|                 null|                null|
|1003000142|                      KHALIL|                   RASHID|             TOLEDO|                  OH|       Anesthesiology|               S| CYCLOBENZAPRINE HCL| CYCLOBENZAPRINE HCL|      null|               31|                   31.0|             890|         756.15|           null|                            *|                    12|              null|                        12.0|                  360|              504.55|
|1003000142|                      KHALIL|                   RASHID|             TOLEDO|                  OH|       Anesthesiology|               S|   DICLOFENAC SODIUM|   DICLOFENAC SODIUM|        14|               19|                   20.4|             494|        1232.16|           null|                            *|                  null|                 *|                        null|                 null|                null|
|1003000142|                      KHALIL|                   RASHID|             TOLEDO|                  OH|       Anesthesiology|               S|      DULOXETINE HCL|      DULOXETINE HCL|        16|               39|                   45.0|            1350|         983.54|           null|                            *|                    15|              null|                        21.0|                  630|              227.79|
+----------+----------------------------+-------------------------+-------------------+--------------------+---------------------+----------------+--------------------+--------------------+----------+-----------------+-----------------------+----------------+---------------+---------------+-----------------------------+----------------------+------------------+----------------------------+---------------------+--------------------+
only showing top 20 rows

In [21]:
partD_Drug_df.head()

Row(npi=1003000126, nppes_provider_last_org_name='ENKESHAFI', nppes_provider_first_name='ARDALAN', nppes_provider_city='CUMBERLAND', nppes_provider_state='MD', specialty_description='Internal Medicine', description_flag='S', drug_name='ATORVASTATIN CALCIUM', generic_name='ATORVASTATIN CALCIUM', bene_count=None, total_claim_count=13.0, total_30_day_fill_count=13.0, total_day_supply=390.0, total_drug_cost=85.83, bene_count_ge65=None, bene_count_ge65_suppress_flag='*', total_claim_count_ge65=None, ge65_suppress_flag='*', total_30_day_fill_count_ge65=None, total_day_supply_ge65=None, total_drug_cost_ge65=None)

In [22]:
partD_Drug_df.printSchema()

root
 |-- npi: integer (nullable = true)
 |-- nppes_provider_last_org_name: string (nullable = true)
 |-- nppes_provider_first_name: string (nullable = true)
 |-- nppes_provider_city: string (nullable = true)
 |-- nppes_provider_state: string (nullable = true)
 |-- specialty_description: string (nullable = true)
 |-- description_flag: string (nullable = true)
 |-- drug_name: string (nullable = true)
 |-- generic_name: string (nullable = true)
 |-- bene_count: double (nullable = true)
 |-- total_claim_count: double (nullable = true)
 |-- total_30_day_fill_count: double (nullable = true)
 |-- total_day_supply: double (nullable = true)
 |-- total_drug_cost: double (nullable = true)
 |-- bene_count_ge65: double (nullable = true)
 |-- bene_count_ge65_suppress_flag: string (nullable = true)
 |-- total_claim_count_ge65: double (nullable = true)
 |-- ge65_suppress_flag: string (nullable = true)
 |-- total_30_day_fill_count_ge65: double (nullable = true)
 |-- total_day_supply_ge65: double (nullable = true)
 |-- total_drug_cost_ge65: double (nullable = true)

In [23]:
partD_Drug_features_df = partD_Drug_df.select(["npi",\
                                               "nppes_provider_city",\
                                               "nppes_provider_state", \
                                               "nppes_provider_last_org_name", \
                                               "nppes_provider_first_name", \
                                               "specialty_description",\
                                               "drug_name", \
                                               "generic_name",\
                                               "total_drug_cost",\
                                               "total_claim_count",\
                                               "total_day_supply"])

partD_Drug_featuresGroupbyNPI_df = partD_Drug_features_df.groupBy("npi",\
                                                                 "nppes_provider_city",\
                                                                 "nppes_provider_state", \
                                                                 "nppes_provider_last_org_name", \
                                                                 "nppes_provider_first_name", \
                                                                 "specialty_description",\
                                                                 "drug_name", \
                                                                 "generic_name")\
                                                                         .agg(func.sum("total_drug_cost"),\
                                                                              func.sum("total_claim_count"),\
                                                                              func.sum("total_day_supply"), \
                                                                              func.variance("total_drug_cost"),\
                                                                              func.variance("total_claim_count"),\
                                                                              func.variance("total_day_supply"),\
                                                                              func.max("total_drug_cost"),\
                                                                              func.max("total_claim_count"),\
                                                                              func.max("total_day_supply"),\
                                                                             )


partD_Drug_featuresGroupbyNPI_df = partD_Drug_featuresGroupbyNPI_df.withColumnRenamed("nppes_provider_first_name" , "first_name")
partD_Drug_featuresGroupbyNPI_df = partD_Drug_featuresGroupbyNPI_df.withColumnRenamed("nppes_provider_last_org_name" , "last_name")
partD_Drug_featuresGroupbyNPI_df = partD_Drug_featuresGroupbyNPI_df.withColumnRenamed("nppes_provider_city" , "city")
partD_Drug_featuresGroupbyNPI_df = partD_Drug_featuresGroupbyNPI_df.withColumnRenamed("nppes_provider_state" , "state")

In [24]:
partD_Drug_featuresGroupbyNPI_df.show()

+----------+---------------+-----+----------+-----------+---------------------+--------------------+--------------------+--------------------+----------------------+---------------------+-------------------------+---------------------------+--------------------------+--------------------+----------------------+---------------------+
|       npi|           city|state| last_name| first_name|specialty_description|           drug_name|        generic_name|sum(total_drug_cost)|sum(total_claim_count)|sum(total_day_supply)|var_samp(total_drug_cost)|var_samp(total_claim_count)|var_samp(total_day_supply)|max(total_drug_cost)|max(total_claim_count)|max(total_day_supply)|
+----------+---------------+-----+----------+-----------+---------------------+--------------------+--------------------+--------------------+----------------------+---------------------+-------------------------+---------------------------+--------------------------+--------------------+----------------------+---------------------+
|1003001645|     SACRAMENTO|   CA|   TRIVEDI|      VINOD|   Infectious Disease|             GENVOYA|ELVITEG/COB/EMTRI...|           157471.31|                  52.0|               1560.0|                     null|                       null|                      null|           157471.31|                  52.0|               1560.0|
|1003001884|          FLINT|   MI|      SAHA|    LUCILLE|      Family Practice|         LATANOPROST|         LATANOPROST|              482.83|                  11.0|                606.0|                     null|                       null|                      null|              482.83|                  11.0|                606.0|
|1003002049|        FREMONT|   CA|SRINIVASAN|    LAKSHMI|        Endocrinology|            ACARBOSE|            ACARBOSE|              902.98|                  12.0|               1080.0|                     null|                       null|                      null|              902.98|                  12.0|               1080.0|
|1003002312|         QUINCY|   MA|   HOPKINS|   PATRICIA|         Rheumatology|            ATENOLOL|            ATENOLOL|              314.48|                  35.0|               3030.0|                     null|                       null|                      null|              314.48|                  35.0|               3030.0|
|1003002312|         QUINCY|   MA|   HOPKINS|   PATRICIA|         Rheumatology|             PREMPRO|ESTROGEN,CON/M-PR...|              2608.6|                  14.0|                454.0|                     null|                       null|                      null|              2608.6|                  14.0|                454.0|
|1003002817|          DORAL|   FL|  IGLESIAS|     NAYVIS|      Family Practice|   ENALAPRIL MALEATE|   ENALAPRIL MALEATE|             5797.86|                 106.0|               9269.0|                     null|                       null|                      null|             5797.86|                 106.0|               9269.0|
|1003005836|      ROCHESTER|   MN|   LEASURE|      EMILY|    Internal Medicine|       ADVAIR DISKUS|FLUTICASONE PROPI...|             5213.94|                  13.0|                390.0|                     null|                       null|                      null|             5213.94|                  13.0|                390.0|
|1003005836|      ROCHESTER|   MN|   LEASURE|      EMILY|    Internal Medicine|          FUROSEMIDE|          FUROSEMIDE|              275.68|                  41.0|               2136.0|                     null|                       null|                      null|              275.68|                  41.0|               2136.0|
|1003006503|          FLINT|   MI|    JEGEDE| OLUGBEMIGA|    Internal Medicine|FLUTICASONE PROPI...|FLUTICASONE PROPI...|              155.02|                  18.0|                540.0|                     null|                       null|                      null|              155.02|                  18.0|                540.0|
|1003006552|     FORT MEADE|   FL|  QUINONEZ|      ALNER|      Family Practice|     INSULIN SYRINGE|SYRINGE-NEEDLE,IN...|              933.77|                  27.0|               1940.0|                     null|                       null|                      null|              933.77|                  27.0|               1940.0|
|1003007279|         YAKIMA|   WA|  WILLIAMS|   JENNIFER|  Physician Assistant|         MISOPROSTOL|         MISOPROSTOL|              261.13|                  11.0|                334.0|                     null|                       null|                      null|              261.13|                  11.0|                334.0|
|1003007469|    SAN ANTONIO|   TX|     OZUNA|    EDUARDO|       Anesthesiology|          TOPIRAMATE|          TOPIRAMATE|               116.8|                  21.0|                645.0|                     null|                       null|                      null|               116.8|                  21.0|                645.0|
|1003008095|         LONDON|   KY|     HOUSE|      ROBIN|   Nurse Practitioner|      FLUOXETINE HCL|      FLUOXETINE HCL|              191.62|                  16.0|                900.0|                     null|                       null|                      null|              191.62|                  16.0|                900.0|
|1003009218|      MORRILTON|   AR|     NOLEN|      JAMES|      Family Practice|      DULOXETINE HCL|      DULOXETINE HCL|             1307.09|                  32.0|               1260.0|                     null|                       null|                      null|             1307.09|                  32.0|               1260.0|
|1003010406|       NEW YORK|   NY| RAMASWAMY|RAVISHANKAR|   Geriatric Medicine|         REPAGLINIDE|         REPAGLINIDE|              622.75|                  14.0|                660.0|                     null|                       null|                      null|              622.75|                  14.0|                660.0|
|1003010786|      AMSTERDAM|   NY|    SAVOIE|       JERI|   Nurse Practitioner|     ONDANSETRON HCL|     ONDANSETRON HCL|               496.7|                  14.0|                341.0|                     null|                       null|                      null|               496.7|                  14.0|                341.0|
|1003010950|FOUNTAIN VALLEY|   CA|    ARTHUR|   KRISTINE|    Internal Medicine|          LISINOPRIL|          LISINOPRIL|              2002.7|                 189.0|              14580.0|                     null|                       null|                      null|              2002.7|                 189.0|              14580.0|
|1003012733|      SAN DIEGO|   CA|    GANNON|     LAUREN|    Internal Medicine|      TAMSULOSIN HCL|      TAMSULOSIN HCL|              499.58|                  16.0|                900.0|                     null|                       null|                      null|              499.58|                  16.0|                900.0|
|1003013582|     MORGANTOWN|   WV|  HAGGERTY|      TREAH|      Family Practice|      SERTRALINE HCL|      SERTRALINE HCL|              361.55|                  44.0|               1770.0|                     null|                       null|                      null|              361.55|                  44.0|               1770.0|
|1003013616|     GREENVILLE|   SC|WOSCHKOLUP|   KATHLEEN|            Neurology|  PROPRANOLOL HCL ER|     PROPRANOLOL HCL|            10323.78|                 133.0|               8010.0|                     null|                       null|                      null|            10323.78|                 133.0|               8010.0|
+----------+---------------+-----+----------+-----------+---------------------+--------------------+--------------------+--------------------+----------------------+---------------------+-------------------------+---------------------------+--------------------------+--------------------+----------------------+---------------------+
only showing top 20 rows

In [ ]:
# EXCLUDED Data Preparation

In [26]:
IELE_rawdata.show()

+--------+---------+-------+--------------------+------------------+-----------------+----+----------+----+--------------------+---------+-----+-----+--------+--------+--------+----------+--------+
|LASTNAME|FIRSTNAME|MIDNAME|             BUSNAME|           GENERAL|        SPECIALTY|UPIN|       NPI| DOB|             ADDRESS|     CITY|STATE|  ZIP|EXCLTYPE|EXCLDATE|REINDATE|WAIVERDATE|WVRSTATE|
+--------+---------+-------+--------------------+------------------+-----------------+----+----------+----+--------------------+---------+-----+-----+--------+--------+--------+----------+--------+
|    null|     null|       |#1 MARKETING SERV...|    OTHER BUSINESS|       SOBER HOME|null|         0|null|239 BRIGHTON BEAC...| BROOKLYN|   NY|11235|  1128a1|20200319|       0|         0|    null|
|    null|     null|       |14 LAWRENCE AVE P...|          PHARMACY|             null|null|         0|null|  14 LAWRENCE AVENUE|SMITHTOWN|   NY|11787|  1128a1|19880830|       0|         0|    null|
|    null|     null|       |143 MEDICAL EQUIP...|       DME COMPANY|     DME - OXYGEN|null|         0|null|    701 NW 36 AVENUE|    MIAMI|   FL|33125|  1128b7|19970620|       0|         0|    null|
|    null|     null|       |184TH STREET PHAR...|    OTHER BUSINESS|         PHARMACY|null|1922348218|null|       69 E 184TH ST|    BRONX|   NY|10468|  1128a1|20180419|       0|         0|    null|
|    null|     null|       |1951 FLATBUSH AVE...|          PHARMACY|             null|null|         0|null|   1951 FLATBUSH AVE| BROOKLYN|   NY|11234|  1128b5|20090319|       0|         0|    null|
|    null|     null|       |1ST COMMUNITY HEA...|            CLINIC|             null|null|         0|null|  3138 W CERMAK ROAD|  CHICAGO|   IL|60623|  1128a1|19940524|       0|         0|    null|
|    null|     null|       |1ST REHABILITATIO...|MANAGEMENT SVCS CO|             null|null|         0|null|C/O 3659 MAGUIRE ...|  ORLANDO|   FL|32803|  1128b8|20020919|       0|         0|    null|
|    null|     null|       |2001 BATH AVENUE ...|    OTHER BUSINESS|         PHARMACY|null|         0|null|    2001 BATH AVENUE| BROOKLYN|   NY|11214|  1128a1|20110818|       0|         0|    null|
|    null|     null|       |  2258 PHARMACY, INC|          PHARMACY|             null|null|         0|null|      2258 THIRD AVE| NEW YORK|   NY|10035|  1128b8|20030720|       0|         0|    null|
|    null|     null|       |227 NINTH AVENUE ...|          PHARMACY|             null|null|         0|null|         227 9TH AVE| NEW YORK|   NY|10011|  1128b5|19970903|       0|         0|    null|
|    null|     null|       | 3839 PHARMACY, INC.|          PHARMACY|             null|null|         0|null|       3839 BROADWAY| NEW YORK|   NY|10032|  1128a1|19910704|       0|         0|    null|
|    null|     null|       |     54-26 DRUG CORP|          PHARMACY|             null|null|         0|null|       1120 BROADWAY| BROOKLYN|   NY|11221|  1128b8|19861204|       0|         0|    null|
|    null|     null|       |716 TRANSPORTATIO...|    OTHER BUSINESS|TRANSPORTATION CO|null|         0|null|       540 VINE LANE|  BUFFALO|   NY|14228|  1128a1|20190620|       0|         0|    null|
|    null|     null|       |764 FRANKLIN AVE ...|          PHARMACY|             null|null|         0|null| 764 FRANKLIN AVENUE| BROOKLYN|   NY|11238|  1128a1|19911229|       0|         0|    null|
|    null|     null|       |882 E 180TH STREE...|          PHARMACY|             null|null|         0|null|  882 E 180TH STREET|    BRONX|   NY|10460|  1128b4|19920903|       0|         0|    null|
|    null|     null|       |   A & A LIVERY, INC| TRANSPORTATION CO|             null|null|         0|null|   15 WALLACE STREET|  METHUEN|   MA|01844|  1128a1|19930406|       0|         0|    null|
|    null|     null|       |A & A MEDICAL CEN...|            CLINIC|             null|null|         0|null|8231 N W 8TH ST, ...|    MIAMI|   FL|33128|  1128b8|20010719|       0|         0|    null|
|    null|     null|       | A & D PHARMACY, INC|          PHARMACY|             null|null|         0|null|      467 MYRTLE AVE| BROOKLYN|   NY|11205|  1128a1|19930208|       0|         0|    null|
|    null|     null|       |A & H LEE PHARMAC...|          PHARMACY|             null|null|         0|null|        268 BROADWAY| BROOKLYN|   NY|11211|  1128a1|20020919|       0|         0|    null|
|    null|     null|       |A & H VITAMINS SU...|    OTHER BUSINESS|         PHARMACY|null|         0|null| 592 PALISADE AVENUE|  TEANECK|   NJ|07666|  1128a1|20180419|       0|         0|    null|
+--------+---------+-------+--------------------+------------------+-----------------+----+----------+----+--------------------+---------+-----+-----+--------+--------+--------+----------+--------+
only showing top 20 rows

In [27]:

npi_fraud_df = IELE_rawdata.select (["npi", "EXCLTYPE"])

In [28]:
npi_fraud_df = npi_fraud_df.filter(npi_fraud_df.npi != 0)

In [29]:
npi_fraud_df.printSchema

In [30]:
npi_fraud_df = npi_fraud_df.withColumn("is_fraud", npi_fraud_df["npi"]/npi_fraud_df["npi"] )

In [31]:
npi_fraud_df = npi_fraud_df.withColumn("is_fraud",npi_fraud_df["is_fraud"].cast(IntegerType()))

TypeError: 'Column' object is not callable

In [ ]:
# Opioid drugs

In [34]:
Opioids_Prescriber.printSchema()

root
 |-- NPI: integer (nullable = true)
 |-- NPPES Provider Last Name: string (nullable = true)
 |-- NPPES Provider First Name: string (nullable = true)
 |-- NPPES Provider ZIP Code: integer (nullable = true)
 |-- NPPES Provider State: string (nullable = true)
 |-- Specialty Description: string (nullable = true)
 |-- Total Claim Count: integer (nullable = true)
 |-- Opioid Claim Count: integer (nullable = true)
 |-- Opioid Prescribing Rate: double (nullable = true)
 |-- Long-Acting Opioid Claim Count: integer (nullable = true)
 |-- Long-Acting Opioid Prescribing Rate: double (nullable = true)

In [36]:
# Opioids_Prescriber_npi_df = Opioids_Prescriber.select (["npi","Specialty","is_Opioid_Prescriber"])

Opioids_Prescriber_npi_df = Opioids_Prescriber.select (["npi","Specialty Description"])

In [37]:
Opioids_Prescriber_npi_df.show()

+----------+---------------------+
|       npi|Specialty Description|
+----------+---------------------+
|1003000126|    Internal Medicine|
|1003000142|       Anesthesiology|
|1003000167|              Dentist|
|1003000282|   Nurse Practitioner|
|1003000407|      Family Practice|
|1003000423| Obstetrics & Gyne...|
|1003000480|      General Surgery|
|1003000522|      Family Practice|
|1003000530|    Internal Medicine|
|1003000597|              Urology|
|1003000639|      Cardiac Surgery|
|1003000720|   Nurse Practitioner|
|1003000746|           Pharmacist|
|1003000837|   Nurse Practitioner|
|1003000902|      Family Practice|
|1003000936|    Internal Medicine|
|1003001017|          Dermatology|
|1003001132|      Family Practice|
|1003001207|              Dentist|
|1003001256|      Family Practice|
+----------+---------------------+
only showing top 20 rows

In [38]:
df =  npi_fraud_df.join(Opioids_Prescriber_npi_df, (Opioids_Prescriber_npi_df.npi == npi_fraud_df.npi))

In [39]:
df.printSchema()

root
 |-- npi: integer (nullable = true)
 |-- EXCLTYPE: string (nullable = true)
 |-- is_fraud: integer (nullable = true)
 |-- npi: integer (nullable = true)
 |-- Specialty Description: string (nullable = true)

In [40]:

sqlContext.registerDataFrameAsTable(payment_features_gourpbyTotal_df,"payment_table")
payment_df = sqlContext.sql("Select * from payment_table")

In [41]:
sqlContext.registerDataFrameAsTable(partD_Drug_featuresGroupbyNPI_df,"partD_table")
partD_df = sqlContext.sql("Select * from partD_table")

In [42]:
sqlContext.registerDataFrameAsTable(npi_fraud_df,"npi_fraud_table")
npifraud_df = sqlContext.sql("Select * from npi_fraud_table")

In [43]:
sqlContext.registerDataFrameAsTable(Opioids_Prescriber_npi_df,"npi_opioids_table")
npiopioids_df = sqlContext.sql("Select * from npi_opioids_table")

In [44]:
features_df = sqlContext.sql ("select npi ")

AnalysisException: cannot resolve '`npi`' given input columns: []; line 1 pos 7;
'Project ['npi]
+- OneRowRelation

In [ ]:
SELECT npi
FROM (
    SELECT distinct npi , "first_name" , "last_name", "city" ,"state"
    FROM payment_table
    ) npis 
    
LEFT JOIN  payments pay
ON npis."NPPES_PROVIDER_FIRST_NAME" = pay."Physician_First_Name"
AND npis."NPPES_PROVIDER_LAST_ORG_NAME" = pay."Physician_Last_Name"
AND npis."NPPES_PROVIDER_CITY" = pay."Recipient_City"
AND npis."NPPES_PROVIDER_STATE" = pay."Recipient_State"

GROUP BY npi
;